[Unit]
Description=KEEPiN Leaderboard Server
After=network.target
StartLimitIntervalSec=0

[Service]
Environment=KEEPIN_LEADERBOARD_PATH=/home/bnwlkr/leaderboard.db
Environment=KEEPIN_SECRET=N9CXZIY331zHMGdtQQcS9wkV5aaqBfWJ357aArEpVzE=
Type=simple
Restart=always
RestartSec=10
User=root
ExecStart=/snap/bin/go run /home/bnwlkr/KEEPiN/leaderboard/server.go

[Install]
WantedBy=multi-user.target
